hr {
  margin-top: 0;
}

.row .col {
  float: left;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.guitar {
  border-top: 1px solid #333;
  width: 130px;
  background: #eee;
  padding: 0 5px 0 5px;
  margin-left: 30px;
}

.guitar .tunings .tuning {
  width: 20px;
  text-align: center;
  display: inline-block;
}

.guitar .zeroes .zero {
  width: 20px;
  text-align: center;
  display: inline-block;
}

.guitar .fret {
  height: 50px;
}

.guitar .fret .index {
  position: absolute;
  margin-left: -25px;
  margin-top:  -12px;
}

.guitar .zeroes {
  height: 26px;
}

.guitar .fret .string {
  width: 20px;
  height: 50px;
  border-top: 1px solid #333;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.guitar .fret .string .dot {
  position: absolute;
  margin: 16px -7px;
  z-index: 12;
}

.dot:before {
  font-style: normal;
  font-size: 25px;
  content: "\26AB";
}

.guitar .fret .string:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #333;
}

.color-muted {
  color: #adadad;
}
.color-0 {
  color: #5ca793;
}
.color-1 {
  color: #1395BA
}
.color-2 {
  color: #117899;
}
.color-3 {
  color: #0f5b78;
}
.color-4 {
  color: #0d3c55;
}
.color-5 {
  color: #c02e1d;
}
.color-6 {
  color: #d94e1f;
}
.color-7 {
  color: #f16c20;
}
.color-8 {
  color: #ef8b2c;
}
.color-9 {
  color: #ecaa38;
}
.color-10 {
  color: #ebc844;
}
.color-11 {
  color: #a2b86c;
}
