@use "sass:list";
@use "sass:color";
@use "font-awesome";

hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.row .col {
  float: left;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inputs {
  width: 260px;
}

.guitar {
  border-top: 1px solid #333;
  background: #eee;
  padding: 0 5px 0 5px;
  margin-left: 30px;

  .tunings .tuning {
    width: 20px;
    text-align: center;
    display: inline-block;
  }

  .dot {
    cursor: pointer;
    position: absolute;
    z-index: 12;
  }

  .zeroes {
    height: 26px;

    .zero {
      width: 20px;
      height: 26px;
      position: relative;
      display: inline-block;

      .dot {
        margin: 4px 3.5px;
      }
    }
  }

  .fret {
    height: 50px;

    // fret number
    .index {
      position: absolute;
      margin-left: -25px;
      margin-top: -12px;
    }

    // string, sometimes has a dot
    .string {
      width: 20px;
      height: 50px;
      border-top: 1px solid #333;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;

      .dot {
        margin: 21px -6.5px;
      }
    }

    .string:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid #333;
    }
  }
}

.color-muted {
  color: #adadad;
}

$colors-list:
  #5ca793
  #1395BA
  #117899
  #0f5b78
  #0d3c55
  #c02e1d
  #d94e1f
  #f16c20
  #ef8b2c
  #ecaa38
  #ebc844
  #a2b86c;
@each $current-color in $colors-list {
  $i: list.index($colors-list, $current-color) - 1;
  .color-#{$i} {
    color: $current-color;
  }
  .color-#{$i}-muted {
    // color: ($current-color * 1 + #ffffff * 3) / 4;
    color: color.mix($current-color, #ffffff, $weight: 25%);
  }
}
