hr {
  margin-top: 0;
  margin-bottom: 25px;
}

.row .col {
  float: left;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inputs {
  width: 260px;
}

.guitar {
  border-top: 1px solid #333;
  width: 130px;
  background: #eee;
  padding: 0 5px 0 5px;
  margin-left: 30px;

  .tunings .tuning {
    width: 20px;
    text-align: center;
    display: inline-block;
  }

  .dot {
    cursor: pointer;
    position: absolute;
    z-index: 12;
  }

  .zeroes {
    height: 26px;

    .zero {
      width: 20px;
      height: 26px;
      position: relative;
      display: inline-block;

      .dot {
        margin: 4px 3.5px;
      }
    }
  }

  .fret {
    height: 50px;

    // fret number
    .index {
      position: absolute;
      margin-left: -25px;
      margin-top:  -12px;
    }

    // string, sometimes has a dot
    .string {
      width: 20px;
      height: 50px;
      border-top: 1px solid #333;
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: center;

      .dot {
        margin: 21px -6.5px;
      }
    }

    .string:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid #333;
    }
  }
}

.color-muted {
  color: #adadad;
}
.color-0 {
  color: #5ca793;
}
.color-1 {
  color: #1395BA
}
.color-2 {
  color: #117899;
}
.color-3 {
  color: #0f5b78;
}
.color-4 {
  color: #0d3c55;
}
.color-5 {
  color: #c02e1d;
}
.color-6 {
  color: #d94e1f;
}
.color-7 {
  color: #f16c20;
}
.color-8 {
  color: #ef8b2c;
}
.color-9 {
  color: #ecaa38;
}
.color-10 {
  color: #ebc844;
}
.color-11 {
  color: #a2b86c;
}
.color-0-muted {
  color: (#5ca793 + #ffffff) * 0.5;
}
.color-1-muted {
  color: (#1395BA + #ffffff) * 0.5;
}
.color-2-muted {
  color: (#117899 + #ffffff) * 0.5;
}
.color-3-muted {
  color: (#0f5b78 + #ffffff) * 0.5;
}
.color-4-muted {
  color: (#0d3c55 + #ffffff) * 0.5;
}
.color-5-muted {
  color: (#c02e1d + #ffffff) * 0.5;
}
.color-6-muted {
  color: (#d94e1f + #ffffff) * 0.5;
}
.color-7-muted {
  color: (#f16c20 + #ffffff) * 0.5;
}
.color-8-muted {
  color: (#ef8b2c + #ffffff) * 0.5;
}
.color-9-muted {
  color: (#ecaa38 + #ffffff) * 0.5;
}
.color-10-muted {
  color: (#ebc844 + #ffffff) * 0.5;
}
.color-11-muted {
  color: (#a2b86c + #ffffff) * 0.5;
}
